*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*便于做一些宽度的计算 */
}/*css reset*/
body{
  font-size: 12px;
  line-height: 1.2;
  background-color: #fff;
  position: relative;
}
html,body{
  height: 100%;
}
main{
  height: calc(100vh - 50px);
}
main>section{
  display: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;/*在手机上滚动会有弹性*/
  height: calc(100vh - 50px);
}
main>section:first-child{
  display: block;
  
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%; 
  display: flex;
  border-top: 1px #ddd solid;
}

footer>div{
  flex: 1;
  text-align: center;
}
footer>div>span{
  display: block;
  padding: 5px;
}
footer .active{
  color: #ff5722
}
.item{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
.item>a{
  display: block;
  display: flex;
  text-decoration: none;
}
.item .cover,
.item .cover img{
  width: 70px;
}
.item .detail{
  flex: 1;
  padding-left: 10px;
}
.item .detail h2{
  font-size: 16px; 
  color: black;
}
.item .detail .extra{
  color: #999;
  margin-top: 4px;
} 
.item .detail .score{
  color: #ff5722
}
.loading{
  text-align: center;
  padding: 5px;
 /* display: none;*/
}

.loading .iconfont{
  display: inline-block;
  animation: 1s rotate linear infinite ;
}
@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
input{
  margin: 15px;
  height: 30px;
}
.button{
  padding: 5px;
  font-size: 16px;
}
.search-area{
 
border: 1px #ff5722 solid;
}