*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{
    box-sizing: border-box
}
ol,ul{list-style: none;}
body{
    font-size: 3.7vw;
}

section>h2:first-child{
    font-size: 4vw;
    border-left: 2px solid #d33a31;
    margin: 1em 0;
    font-weight: normal;
    line-height: 1;
    margin: 1.2em 0;
    padding-left:.5em;
}

.topbar{
    background: #D43C33;
    padding: 3.7vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .logo{
    width: 34vw;
    padding: .3em;
}
.topbar .downloadApp{
    line-height: 7.5vw;
    border: .5px solid #fff;
    border-radius: 3.75vw;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 .5em;
}


.siteNav{
    
}

.siteNav>ol{
  display: flex;
  text-align: center;
  box-shadow: 0px .3px 0px 0px rgba(204,204,204,1);
}
.siteNav>ol>li{
    flex: 1;
}
.siteNav>ol>li.active{
  color: #D33A31;
}
.siteNav >ol>li>span{
    height: 9.5vw;
    line-height: 10vw;
    display: inline-block;
    position: relative;   
}
.siteNav >ol>li.active>span::before{
    content: '';
    position: absolute;
    border-bottom: 2px solid #D33A31;
    left: -1vw;right: -1vw;
    bottom: 0;
}

.tabContent>li{
    display: none;
}
.tabContent>li.active{
    display: block;
}

.playlists{

}
.playlists>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .85em;
}
.playlists>ul img{
    width: 100%;
}
.playlists>ul>li{
    width:calc(33.333333% - .5vw);
}
.playlists>ul>li>p{
    padding: 0 1vw;
    display: -webkit-box;
    line-height: 4vw;
    height: 8vw;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3vw;
}


.latestMusic{}
.latestMusic p{
    text-align: center;
}
.latestMusic>ol>li h3{
    font-size: 4.12vw;
    font-weight: normal;
}
.latestMusic>ol>li p{
    font-size: 2.5vw;
    color:#888;
    display: flex;
    line-height: 1;
    align-items: center;
}
.latestMusic>ol{
    padding-left: calc(.5em + 2px)
}
.latestMusic>ol>li{
    border-bottom: 1px solid #e2e2e3;
    padding: 1vw;
    position: relative;
}
.latestMusic>ol>li a{
    text-decoration: none;
    color: inherit;
}

.latestMusic>ol>li .icon{
  width: 5.9vw;
  height: 5.9vw;
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
  fill: #aaa;
}
.latestMusic>ol>li .icon-sq{
    width: 3.2vw;
    height: 3.2vw;
    margin-right: .2em;
    fill:#fe672e;
}

section.art{
background: transparent url(https://s3.music.126.net/m/s/img/recommand_bg_3x.png?f3a9aaa781c3bf3b543d129327d35fce) no-repeat center 0;
padding-top: 17.6vw;
padding-bottom: 6.6vw;

}
section.art .logo{
    text-align: center;
}

section.art .logosvg{
    width: 61.7vw;
    margin-bottom: 3vw;
}
section .openApp{
    display: block;
    max-width: 81.3vw;
    padding: 1vw 0;
    margin: 0 auto;
    text-align: center;
    color: #d43c33;
    text-decoration: none;
    line-height: 6.6vw;
    border-radius: 5.3vw;
    border: 1px solid;
    font-size: 4.3vw;
}
section.art .copyright{
    font-size: 3.2vw;
    transform: scale(.75);
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 1vw;
    color:#888;
}